DEBUG=
LOGLEVEL=DEBUG
DEVELOPMENT_MODE=True
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DJANGO_ALLOWED_HOSTS=*
DJANGO_SETTINGS_MODULE=strava_views.settings
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=https://altfitx.com/strava/login
GOOGLE_RECAPTCHA_SECRET_KEY=
CELERY_BROKER_URL='redis://redis:6379/0'
CELERY_RESULT_BACKEND='redis://redis:6379/0'