body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    color: #333;
}

.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.cta h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    flex-basis: 100%;
}

.linkButton {
    background-color: #ff5c00; /* Ярко-оранжевый цвет фона */
    color: white; /* Белый цвет текста */
    font-size: 20px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    padding: 10px 20px; /* Внутренние отступы */
    border: none; /* Без границ */
    border-radius: 4px; /* Небольшие закругления углов */
    cursor: pointer; /* Указатель при наведении */
    text-align: center; /* Выравнивание текста по центру */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона */
}

.linkButton:first-child {
    margin-right: 20px;
}

.linkButton:hover {
    background-color: #e54d00; /* Темнее оранжевый при наведении */
}

.features {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
    flex: 1 1 30%;
}
.feature {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: 480px;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .feature {
        flex: 1 1 100%; /* Элементы занимают 100% ширины при ширине окна менее 768px */
        min-width: 100%; /* Элементы растягиваются на всю ширину */
    }
    }
.feature h3 {
    color: #FC4C02;
    margin-bottom: 15px;
}

.sliderContainer {
  border: 2px solid #F3F4F6;
  padding: 10px;
  border-radius: 8px;
  height: 100px; /* Устанавливаем высоту контейнера до 200 пикселей */
  overflow: hidden;


}

.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Масштабирует изображение, сохраняя его пропорции */
}